/* -----------------------------------------------------------------------------------

	0.	RESET & CLEARFIX
	1.	BASICS (body, headers, links, etc)
	2. 	GENERAL ELEMENTS
	3.	HEADER
	4.	PAGE LOADER
	5. 	MENU / NAV / SMART NAV
	6. HEADER OPTIONS
	7. FOOTER
	8. RELATED ITEMS
	9. COLUMNS SECTION
	10. ELEMENTS / SHORTCODES
	11. WIDGETS
	12. LOGO

----------------------------------------------------------------------------------- */



/*----------------------------------------------

0. RESET & CLEARFIX

------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
.overlaycaption,figure,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%; }

ol, ul  { list-style: none; }

:focus  { outline: 0; }

/* deleting the default appearence for form elements */
input[type=text], input[type=password], input[type=submit], input[type=button], textarea, button, select { -moz-appearance: none; -webkit-appearance: none; }

/* HTML5 display definitions */
article, aside, details, .overlaycaption, figure, footer, header, hgroup, menu, nav, section, dialog { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; visibility: hidden; }

.clearfix:after { content: ""; display: block; clear: both; visibility: hidden; font-size: 0;  height: 0; }
.clearfix { *display: inline-block; height: 1%; }
.clear { clear: both; display: block; font-size: 0;	height: 0; line-height: 0; width:100%; }




/*----------------------------------------------

1. BASICS

------------------------------------------------*/
html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on orientation change without disabling user zoom */
	-ms-text-size-adjust: 100%;
	position: relative;
	}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.02em;
	font-size: 15px;
	line-height: 26px;
	color:#696969;
	text-align: left;
	position: relative;
	background: #ffffff;
	min-height: 100%;
	}

::selection { background:#212121; color:#fffff; }
::-moz-selection { background:#212121; color:#ffffff; }
::-webkit-selection { background:#212121; color:#ffffff; }


/* Headings
---------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
	font-weight: bold;
	letter-spacing: -0.02em;
	color: #212121;

	}
	.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6,
	h1.text-light, h2.text-light, h3.text-light, h4.text-light, h5.text-light, h6.text-light { color: #ffffff; }

h1 { font-size: 72px; line-height: 86px; }
h2 { font-size: 48px; line-height: 60px; }
h3 { font-size: 34px; line-height: 46px; }
h4 { font-size: 24px; line-height: 34px; }
h5 { font-size: 17px; line-height: 26px; }
h6 { font-size: 13px; line-height: 20px; }
h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong { font-weight: 700; }

/* Headers Spacing */
div h1, div h2, div h3, div h4, div h5, div h6 { margin-top: 40px; }
i + h1, i + h2, i + h3, i + h4, i + h5, i + h6 { margin-top: 20px; }
div h1:first-child, div h2:first-child, div h3:first-child, div h4:first-child, div h5:first-child, div h6:first-child { margin-top: 0px !important; }
h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6,
h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6,
h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6,
h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 { margin-top: 22px; }
h2 + h3, h2 + h4, h2 + h5, h2 + h6, h6 + h2, h5 + h2, h4 + h2, h3 + h2  { margin-top: 16px; }
h3 + h4, h3 + h5, h3 + h6, h4 + h3, h5 + h3, h6 + h3 { margin-top: 13px; }
h4 + h5, h4 + h6, h5 + h4, h6 + h4 { margin-top: 9px; }
h5 + h5, h5 + h6, h6 + h5, h6 + h6 { margin-top: 6px; }

[class*='subtitle'] {
	opacity: 0.7;
	}

.subtitle-1 {
	font-family: 'Montserrat';
	font-weight: bold;
	letter-spacing: 0.03em;
	}
.subtitle-1 b, .subtitle-1 strong { font-weight: 600; }

.subtitle-2 {
	font-family: 'Montserrat';
	font-weight: bold;
	font-style: italic;
	text-transform: none;
	letter-spacing: 0.03em;
	}
.subtitle-2 b, .subtitle-2 strong { font-weight: 700; }

.error-404 { font-size: 124px; line-height: 140px; }


/* headings with link */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #212121; transition: all 200ms ease; }
.text-light h1 a, .text-light h2 a, .text-light h3 a, .text-light h4 a, .text-light h5 a, .text-light h6 a { color: #ffffff; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #e300ff; }



/* Links
---------------------------------------- */
a {
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color:rgba(0,0,0,0.0);
	color: #e300ff;
	}
	a:hover { color: #212121; }

.text-light a:hover { color: #ffffff; }


/* Lists
---------------------------------------- */
ul {
	margin-top: 20px;
	margin-left: 15px;
	list-style: disc;
	}
	ul.no-list-style { list-style: none; margin-left: 0px;  }
	div ul:first-child, li ul:first-child { margin-top: 0px; }

ol {
	margin-top: 20px;
	margin-left: 30px;
	list-style: decimal;
	}
	div ol:first-child, li ol:first-child { margin-top: 0px; }

ul li, ol li {
	margin-top: 10px;
	}
	ul li:first-child, ol li:first-child { margin-top: 0px; }



/* Others
---------------------------------------- */
p {
	margin-top: 20px;
	}
	div p:first-child {  margin-top: 0px; }

strong, b, dt {
	font-weight: 600;
}

i, dfn, em {
	font-style: italic;
	}

strong i, b i, dt i, strong em, b em, dt em {
	font-style: italic;
	font-weight: 700;
	}



small {
	color: #9c9c9c;
	font-size: 10px;
	line-height: 17px;
	font-family: 'Helvetica Neue';
	font-weight: 300;
	}
	small b, small strong { font-weight: 700; }
	.text-light small { color: rgb(255,255,255,0.55); }



/*----------------------------------------------

2. GENERAL ELEMENTS

------------------------------------------------*/
body:before, body:after {
    content: "";
    position: fixed;
    background: #FFFFFF;
    left: 0;
    right: 0;
    height: 0;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0 ;
}

}

body.page-boxed {
	background: #f5f6f7;
	}

body.page-boxed #page-content {
	width: 1280px;
	margin: 0 auto;
	background: #ffffff;
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
	}

#page-content {
	overflow: hidden;
	margin: 0;
	min-width: 1200px;
	max-width: 100%;
	}

#page-body {
	padding-top: 100px;
	position: relative;
	}
	#page-body.notoppadding { padding: 0; }
	#page-body:after  { content: ""; display: block; clear: both; visibility: hidden; font-size: 0; height: 0; }

.wrapper {
	width: 1200px;
	margin: 0 auto;
	}
	.wrapper-small { width: 780px;	margin: 0 auto; }
	.wrapper:after, .wrapper-small:after  { content: ""; display: block; clear: both; visibility: hidden; font-size: 0;  height: 0; }
	.wrapper, .wrapper-small  { max-width: calc(100% - 80px); }

.main-content {
	width: calc(100% - 400px);
	}


.left-float {
	float: left;
	}

.right-float {
	float: right;
	}

.align-center {
	text-align: center;
	}

.align-right {
	text-align: right;
	}

.text-light {
	color: rgba(255, 255, 255, .80);
	}

.colored {
	color: #e300ff !important;
	opacity: 1 !important;
	}



/*----------------------------------------------

3. HEADER

------------------------------------------------*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1501;
	height: auto;
	background: #ffffff;
	transition: all 0.4s;
	}
	.page-boxed header {
		width: 1280px;
		left: 50%;
		margin-left: -640px;
	}

header.not-sticky {
	position: absolute;
	}

header .header-inner {
	padding: 0px 30px;
	}
	header .header-inner.wrapper { padding: 0; }

header #logo {
	max-width: 100%;
	z-index: 10;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 30px;
	transition: all 0.4s ease;
	}

header #logo a {
	display: inline-block;
	transition: all 0.4s ease;
	position: relative;
	height: 100%;
	max-height: 100%;
	}

header #logo img {
	max-width: 400px;
	height: 100%;
	max-height: 100%;
	transition: all 0.4s ease;
	}

header #logo #scroll-logo {
	float:left;
	max-width: 0px;
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	-ms-transform: translateX(-20px);
	-o-transform: translate-X(-20px);
	transform: translateX(-20px);
	opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}

header #logo #dark-logo + #light-logo {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}

header #logo #scroll-logo ~ img {
	transition: transform 0.3s 0.5s ease, opacity 0.3s 0.5s ease, max-width 0.1s 0.4s ease;
	}

/* header top bar */
#top-bar {
	border-bottom: 1px solid rgba(0, 0, 0, .10);
	padding: 10px 30px;
	line-height: 20px;
	font-size: 13px;
	height: 20px;
	transition: all 0.4s ease;
	}

#top-bar small { line-height: 20px; height: 20px; display: inline-block; }
#top-bar i.ion, #top-bar i.fa { line-height: 20px; height: 20px; font-size: 13px; margin: 0 3px; position: relative; top: 1px; }

#top-bar > div { transition: all 0.4s ease; height: 20px; }

#top-bar .socialmedia-widget li { display: inline-table;  }
#top-bar .socialmedia-widget li a { font-size: 14px; }


/*----------------------------------------------

4. PAGE LOADER

------------------------------------------------*/
#page-loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #ffffff;
	z-index: 100001;
	transition: opacity 0.8s ease 0.8s, height 0.1s ease 1.6s;
	overflow: hidden;
	}
	.page-is-loaded #page-loader { opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 0;}

#page-loader .page-loader-inner {
	transition: opacity 0.6s ease 0.3s;
	}
	.page-is-loaded #page-loader .page-loader-inner { opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

#page-loader .loader-figure,
#page-loader .loader-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#page-loader .loader-figure {
  	height: 0px;
  	width: 0px;
  	box-sizing: border-box;
  	border: 0px solid #e300ff;
  	border-radius: 50%;
  	-webkit-animation: figure 1.2s ease infinite ;
  	-moz-animation: figure 1.2s ease infinite ;
  	animation: figure 1.2s ease infinite ;
	}
	@-moz-keyframes figure {
		0% { height: 0; width: 0; }
		30% { height: 40px; width: 40px; border-width: 21px; opacity: 1; }
		100% { height: 40px; width: 40px; border-width: 0; opacity: 0; }
	}
	@-webkit-keyframes figure {
		0% { height: 0; width: 0; }
		30% { height: 40px; width: 40px; border-width: 21px; opacity: 1; }
		100% { height: 40px; width: 40px; border-width: 0; opacity: 0; }
	}
	@keyframes figure {
		0% { height: 0; width: 0; }
		30% { height: 40px; width: 40px; border-width: 21px; opacity: 1; }
		100% { height: 40px; width: 40px; border-width: 0; opacity: 0; }
	}

#page-loader .loader-label {
	margin: 50px 0 0 0;
  	font-size: 12px;
  	line-height: 18px;
	}

#page-loader .loader-logo {
	position: absolute;
	left: 50%;
	bottom: 40px;
	-webkit-transform: translateX(-50%);
  	-moz-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	-o-transform: translateX(-50%);
  	transform: translateX(-50%);
	}



/*----------------------------------------------

5. MENU / NAV / SMART NAV

------------------------------------------------*/
#menu {
	position: static;
	z-index: 10;
	}

/* Main Nav*/
nav#main-nav{
	float:none !important;
	}

nav#main-nav ul {
	list-style: none;
	z-index: 10;
	margin: 0;
	padding: 0;
	text-align:center;
	}

nav#main-nav > ul > li {
	margin: 0 0 0 60px;
	padding: 0;
	display: inline-block;
	position: relative;
	}
nav#main-nav > ul > li:first-child { margin: 0; }

nav#main-nav > ul > li > a {
	display: inline-block;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 14px;
	color: #212121;
	letter-spacing: 0.3px;
	transition: all 0.4s ease;
	height: 70px;
	line-height: 30px;
	padding: 30px 1px;
	right: 30px;
	position: relative;
	}
	#menu.menu-is-open nav#main-nav ul li a:not(.button-style):hover, header.header-style-vertical #menu nav#main-nav ul li a:not(.button-style):hover { color: #e300ff !important; }

nav#main-nav > ul > li > a:after {
	content: "";
	width: 100%;
	height: 2px;
	background: #777777;
	position: absolute;
	left: 0;
	top: 40%;
	margin-top: 15px;
	opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	transition: all 0.3s ease;
	}
	nav#main-nav > ul > li:hover > a:after, nav#main-nav > ul > li.current-menu-item > a:after {
	opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	top: 50%;
	}

nav#main-nav > ul > li > a.button-style {
	padding-left:15px;
	padding-right:15px;
	color: #ffffff;
	}


/*----------------------------------------------

6. HEADER OPTIONS

------------------------------------------------*/

/* Transparent Header (light transparent) */
header.header-transparent.transparent-light:not(.mega-hover) { color: #ffffff; }
header.header-transparent.transparent-light:not(.mega-hover) nav#main-nav > ul > li > a { color: #ffffff; }
header.header-transparent.transparent-light:not(.mega-hover) nav#main-nav > ul > li > a:after { background: #ffffff; }
header.header-transparent.transparent-light:not(.mega-hover) nav#main-nav > ul > li > a.button-style { color: #212121; }
header.header-transparent.transparent-light:not(.mega-hover) nav#main-nav > ul > li > a.button-style:before { background: #ffffff; }
header.header-transparent.transparent-light:not(.mega-hover) #header-search a#show-search { color: #ffffff; }
header.header-transparent.transparent-light:not(.mega-hover) #header-cart a#show-cart { color: #ffffff; }
header.header-transparent.transparent-light:not(.mega-hover) #header-language a#show-language { color: #ffffff; }
header.header-transparent.transparent-light:not(.mega-hover) #header-social .socialmedia-widget li a { color: #ffffff; }
header.header-transparent.transparent-light:not(.mega-hover) #logo #dark-logo { opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
header.header-transparent.transparent-light:not(.mega-hover) #logo #dark-logo + #light-logo { opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
header.header-transparent.transparent-light:not(.mega-hover) #menu .responsive-nav-toggle .hamburger,
header.header-transparent.transparent-light:not(.mega-hover) #menu .responsive-nav-toggle .hamburger:before,
header.header-transparent.transparent-light:not(.mega-hover) #menu .responsive-nav-toggle .hamburger:after { background-color: #ffffff; }
header.header-transparent.transparent-light:not(.mega-hover) #top-bar { border-color: #ffffff; }
header.header-transparent.transparent-light:not(.mega-hover) #top-bar .socialmedia-widget li a { color: #ffffff; }

/* Show scroll logo and hide others */
header.small-header:not(.not-sticky):not(.header-style-vertical) #logo #scroll-logo { transition:transform 0.3s 0.4s ease,opacity 0.3s 0.4s ease,max-width 0.1s 0.4s ease;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);max-width:400px;opacity:1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
header.small-header:not(.not-sticky):not(.header-style-vertical) #logo #scroll-logo ~ img, header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #logo #scroll-logo ~ #light-logo { transition:transform 0.3s ease,opacity 0.3s ease,max-width 0.2s 0.3s ease;-webkit-transform:translateX(-20px);-moz-transform:translateX(-20px);-ms-transform:translateX(-20px);-o-transform:translateX(-20px);transform:translateX(-20px);max-width:0;opacity:0!important;filter:alpha(opacity=0)!important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"!important}


/* Responsive Menu */
#menu.menu-is-open nav#main-nav ul li a { color: #ffffff !important; }
#menu.menu-is-open nav#main-nav ul ul li a { color: #c9c9c9 !important; }
#menu.menu-is-open nav#main-nav > ul > li > a.button-style { color: #212121 !important; }
#menu.menu-is-open nav#main-nav > ul > li > a.button-style:before { background: #ffffff; }
#menu.menu-is-open nav#main-nav .mega-menu-content ul li.mega-menu-title > a { color: #c9c9c9 !important; }
#menu.menu-is-open #header-search a#show-search { color: #ffffff !important; }
#menu.menu-is-open #header-cart a#show-cart { color: #ffffff !important; }
#menu.menu-is-open #header-language a#show-language { color: #ffffff !important; }
#menu.menu-is-open #header-social .socialmedia-widget li a { color: #ffffff !important; }
header #menu.menu-is-open .responsive-nav-toggle .hamburger,
header #menu.menu-is-open .responsive-nav-toggle .hamburger:before,
header #menu.menu-is-open .responsive-nav-toggle .hamburger:after { background-color: #ffffff !important; }


/*----------------------------------------------

7. FOOTER

------------------------------------------------*/
footer {
	width: 100%;
	background: #f5f6f7;
	position: relative;
	border-top: 1px transparent;
	}
	footer.footer-dark { background: #212121; border-color: #333333; }
	footer.footer-custom { background: none; border-color: #333333; }

footer .footer-inner {
	padding: 100px 0;
	}

footer .copyright {
	border-top: 1px solid rgba(0, 0, 0, .10);
	text-align: center;
	padding: 30px 0;
	line-height: 20px;
	}
	.text-light .copyright { border-color: rgba(255, 255, 255, .15); }

footer #backtotop {
	text-align: center;
	font-size: 11px;
	font-family: "Helvetica Neue";
	font-weight: bold;
	line-height: 20px;
	position: fixed;
	bottom: 40px;
	right: -1px;
	width: auto;
	transition: all 0.3s ease;
	z-index: 100;
	color: #ffffff;
	background: #0f0f0f;
	padding: 10px 15px;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	}
	footer #backtotop.visible {
	right: 40px;
	}
	footer #backtotop.visible:hover {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
	transform: translateX(0%);
	right: 0px;
	}

footer #backtotop:before {
	text-align: center;
	content: "\f126";
	font-family: "Ionicons";
	font-size: 10px;
	line-height: 20px;
	height: 10px;
	width: 10px;
	margin: 0 15px 0 1px;
	}

/*----------------------------------------------


8. RELATED ITEMS

------------------------------------------------*/
.related-items {
	margin-top: 100px;
	}

.related-items #related-grid {
	margin-top: 60px;
	}

/*----------------------------------------------

/*----------------------------------------------

9. COLUMNS SECTION

------------------------------------------------*/
.column-section { margin-top: 40px; }
div .column-section:first-child { margin-top: 0px; }

.column {
	float: left;
	margin-right: 40px;
	min-height: 1px;
	}
	.column-section .column:first-child { margin-left: 40px; }
	.wrapper .column-section .column:first-child, .wrapper-small .column-section .column:first-child { margin-left: 0px; }

.boxed-sticky, .bordered-sticky {
	margin-top: 0px;
	}

.boxed-spaced .column, .boxed-sticky .column, .bordered-spaced .column, .bordered-sticky .column {
	background: #f5f6f7;
	padding: 30px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	}
	.text-light .boxed-spaced .column, .text-light .boxed-sticky .column { background: #0f0f0f ; }

.bordered-spaced .column, .bordered-sticky .column {
	border: 1px solid rgba(0,0,0,0.15);
	background: none;
	}
	.text-light .bordered-spaced .column, .text-light .bordered-sticky .column { border-color: rgba(255,255,255,0.22); }
	.bordered-sticky .column { border-right: none; }
	.bordered-sticky .column:first-child { border-left: none;  }
	.wrapper .bordered-sticky .column:first-child { border-left: 1px solid rgba(0,0,0,0.15); }
	.wrapper .bordered-sticky .column:first-child, .wrapper-small .bordered-sticky .column:first-child { border-left: 1px solid rgba(0,0,0,0.15); }
	.wrapper .text-light .bordered-sticky .column:first-child, .text-light .wrapper .bordered-sticky .column:first-child, .wrapper-small .text-light .bordered-sticky .column:first-child, .text-light .wrapper-small .bordered-sticky .column:first-child { border-left: 1px solid rgba(255,255,255,0.22); }
	.wrapper .bordered-sticky .column.last-col, .wrapper-small .bordered-sticky .column.last-col { border-right: 1px solid rgba(0,0,0,0.15); }
	.wrapper .text-light .bordered-sticky .column.last-col, .text-light .wrapper  .bordered-sticky .column.last-col, .wrapper-small .text-light .bordered-sticky .column.last-col, .text-light .wrapper-small  .bordered-sticky .column.last-col { border-right: 1px solid rgba(255,255,255,0.22); }
	.bordered-sticky + .bordered-sticky .column { border-top: none; }

.column-section.rounded .column {
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius: 8px;
	}
	.column-section.boxed-sticky.rounded .column, .column-section.bordered-sticky.rounded .column:not(.accent-table)
	{ -moz-border-radius: 0; -khtml-border-radius:0; -webkit-border-radius:0; border-radius:0; }
	.column-section.boxed-sticky.rounded .column:first-child, .column-section.bordered-sticky.rounded .column:first-child
	{ -moz-border-radius: 8px 0 0 8px; -khtml-border-radius:8px 0 0 8px; -webkit-border-radius:8px 0 0 8px; border-radius:8px 0 0 8px; }
	.column-section.boxed-sticky.rounded .column.last-col, .column-section.bordered-sticky.rounded .column.last-col
	{ -moz-border-radius: 0 8px 8px 0; -khtml-border-radius:0 8px 8px 0; -webkit-border-radius:0 8px 8px 0; border-radius:0 8px 8px 0; }


h1 + .column-section.bordered-sticky,h2 + .column-section.bordered-sticky,h3 + .column-section.bordered-sticky,
h4 + .column-section.bordered-sticky,h5 + .column-section.bordered-sticky,h6 + .column-section.bordered-sticky,
h1 + .column-section.boxed-sticky,h2 + .column-section.boxed-sticky,h3 + .column-section.boxed-sticky,
h4 + .column-section.boxed-sticky,h5 + .column-section.boxed-sticky,h6 + .column-section.boxed-sticky,
separator + .column-section.bordered-sticky, separator + .column-section.boxed-sticky { margin-top: 40px; }

.column.nopadding { padding: 0px !important; }
.column.notoppadding { padding-top: 0px !important; }
.column.nobottompadding { padding-bottom: 0px !important; }
.column.bigpadding { padding: 5em; }

.one-full { width: calc(100% - 80px); float: none; margin-right: 0; }
.one-half { width: calc(50% - 60px); }
.one-third { width: calc(33.33% - 53.33px); }
.two-third { width: calc(66.66% - 66.66px); } 		/* ((40*4)/3) + (40/3) */
.one-fourth { width: calc(25% - 50px); }
.two-fourth { width: calc(50% - 60px); }
.three-fourth { width: calc(75% - 70px); }
.one-fifth { width: calc(20% - 48px); }
.two-fifth { width: calc(40% - 56px); }
.three-fifth { width: calc(60% - 64px); }
.four-fifth { width: calc(80% - 72px); }
.one-sixth { width: calc(16.66% - 46.66px); }
.two-sixth { width: calc(33.33% - 53.33px); }
.three-sixth { width: calc(50% - 60px); }
.four-sixth { width: calc(66.66% - 66.66px); }
.five-sixth { width: calc(83.33% - 73.33px); }

.wrapper .one-full, .wrapper-small .one-full { width: 100%; float: none; margin-right: 0; }
.wrapper .one-half, .wrapper-small .one-half { width: calc(50% - 20px); }
.wrapper .one-third, .wrapper-small .one-third { width: calc(33.33% - 26.66px); }
.wrapper .two-third, .wrapper-small .two-third { width: calc(66.6% - 13.33px); } 		/* ((40*3)/2) - (40/3) */
.wrapper .one-fourth, .wrapper-small .one-fourth { width: calc(25% - 30px); }
.wrapper .two-fourth, .wrapper-small .two-fourth { width: calc(50% - 20px); }
.wrapper .three-fourth, .wrapper-small .three-fourth { width: calc(75% - 10px); }
.wrapper .one-fifth, .wrapper-small .one-fifth { width: calc(20% - 32px); }
.wrapper .two-fifth, .wrapper-small .two-fifth { width: calc(40% - 24px); }
.wrapper .three-fifth, .wrapper-small .three-fifth { width: calc(60% - 16px); }
.wrapper .four-fifth, .wrapper-small .four-fifth { width: calc(80% - 8px); }
.wrapper .one-sixth, .wrapper-small .one-fifth { width: calc(16.66% - 33.33px); }
.wrapper .two-sixth, .wrapper-small .two-fifth { width: calc(33.33% - 26.66px); }
.wrapper .three-sixth, .wrapper-small .three-fifth { width: calc(50% - 20px); }
.wrapper .four-sixth, .wrapper-small .four-fifth { width: calc(66.66% - 13.33px); }
.wrapper .five-sixth, .wrapper-small .five-fifth { width: calc(83.33% - 6.66px); }

.boxed-sticky .column, .bordered-sticky .column, .boxed-sticky .column:first-child, .bordered-sticky .column:first-child { margin-left: 0; margin-right: 0; }
.boxed-sticky .one-full, .bordered-sticky .one-full { width: 100%; float: none; margin-right: 0; }
.boxed-sticky .one-half, .bordered-sticky .one-half { width: 50%; }
.boxed-sticky .one-third, .bordered-sticky .one-third { width: 33.33%; }
.boxed-sticky .two-third, .bordered-sticky .two-third { width: 66.6%; }
.boxed-sticky .one-fourth, .bordered-sticky .one-fourth { width: 25%; }
.boxed-sticky .two-fourth, .bordered-sticky .two-fourth { width: 50%; }
.boxed-sticky .three-fourth, .bordered-sticky .three-fourth { width: 75%; }
.boxed-sticky .one-fifth, .bordered-sticky .one-fifth { width: 20%; }
.boxed-sticky .two-fifth, .bordered-sticky .two-fifth { width: 40%; }
.boxed-sticky .three-fifth, .bordered-sticky .three-fifth { width: 60%; }
.boxed-sticky .four-fifth, .bordered-sticky .four-fifth { width: 80%; }

.last-col { margin-right: 0px !important; }

.col-content:after { content: ""; display: block; clear: both; visibility: hidden; font-size: 0;  height: 0; }
.col-content { *display: inline-block; height: 1%; overflow: hidden; }


/*----------------------------------------------

10. ELEMENTS

------------------------------------------------*/

/*	spacer
-------------------------------------------------*/
div[class*='spacer-'] { display: block; }
.spacer-mini { height: 20px; }
.spacer-small { height: 40px; }
.spacer-medium { height: 60px; }
.spacer-big { height: 100px; }

div[class*='spacer-'] + p, div[class*='spacer-'] + div, cdiv[class*='spacer-'] + blockquote, div[class*='spacer-'] + ul,
div[class*='spacer-'] + h1, div[class*='spacer-'] + h2, div[class*='spacer-'] + h3, div[class*='spacer-'] + h4, div[class*='spacer-'] + h5, div[class*='spacer-'] + h6 { margin-top: 0px !important; }


/* Buttons */
.sr-button {
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 0.1em;
	text-align: center;
	background: #212121;
	color: #ffffff;
	display: inline-block;
	padding: 15px 40px;
	transition: all 0.2s ease;
	max-width: 100%;
	margin: 2px 0 3px 0;
	}
	.text-light .sr-button { background: #ffffff; color: #212121; }
	.align-center .sr-button { margin-left: 5px; margin-right: 5px; }

.sr-button:hover {
	background: #e300ff;
	color: #ffffff;
	}
	.text-light .sr-button:hover { background: #e300ff; color: #ffffff; }

.sr-button.button-tiny { font-size: 9px; line-height: 16px; padding: 7px 14px; }
.sr-button.button-mini { font-size: 10px; line-height: 18px; padding: 9px 20px; }
.sr-button.button-small { font-size: 11px; line-height: 20px; padding: 12px 30px; }
.sr-button.button-medium { font-size: 12px; line-height: 22px; padding: 15px 40px; width: 150px;}
.sr-button.button-big { font-size: 14px; line-height: 24px; padding: 20px 50px; }
.sr-button.button-full { font-size: 18px; line-height: 32px; width: 100%; padding: 40px 0; font-weight: bold; margin: 0; }
.sr-button.button-full strong { font-size: 22px; font-weight: bold; }

.sr-button.button-1 { background: #212121; color: #ffffff; }
.sr-button.button-1:hover { background: #e300ff; color: #ffffff; }
.text-light .sr-button.button-1 { background: #ffffff; color: #212121; }
.text-light .sr-button.button-1:hover { background: #e300ff; color: #ffffff; }

.sr-button.button-2 { background: #e300ff; color: #ffffff; }
.sr-button.button-2:hover { background: #212121; color: #ffffff; }
.text-light .sr-button.button-2:hover { background: #ffffff; color: #212121; }

.sr-button.button-3 { background: #f0f0f0; color: #212121; }
.sr-button.button-3:hover { background: #212121; color: #ffffff; }
.text-light .sr-button.button-3 { background: #3d3d3d; color: #ffffff; }
.text-light .sr-button.button-3:hover { background: #ffffff; color: #212121; }

.sr-button.button-4 { background: transparent; border: 2px solid rgba(0, 0, 0, .2); color: #212121; }
.sr-button.button-4:hover { background: #212121; border-color: #212121; color: #ffffff; }
.text-light .sr-button.button-4 { border: 2px solid rgba(255, 255, 255, .2); color: #ffffff; }
.text-light .sr-button.button-4:hover { background: #ffffff; border-color: #ffffff; color: #212121; }

.sr-button.button-5 { background: transparent; border: 2px solid rgba(0, 0, 0, .2); color: #212121; }
.sr-button.button-5:hover { background: #225EF9; border-color: #225EF9; color: #ffffff; }
.text-light .sr-button.button-5 { border: 2px solid rgba(255, 255, 255, .2); color: #ffffff; }
.text-light .sr-button.button-5:hover { background: #225EF9; border-color: #225EF9; color: #ffffff; }

.sr-button.button-6 { background: transparent; border: 2px solid rgba(0, 0, 0, .2); color: #212121; }
.sr-button.button-6:hover { border-color: #e300ff; background: transparent; }
.text-light .sr-button.button-6 { border: 2px solid rgba(255, 255, 255, .2); color: #ffffff; }
.text-light .sr-button.button-6:hover { border-color: #e300ff; background: transparent; }

.sr-button.rounded { border-radius: 4px; }
.sr-button.circled { border-radius: 50px; }


/* Icon-Text Button */
.button-icon-text {
	position: relative
	}

.button-icon-text i {
	position: absolute;
	left: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%) ;
  	-moz-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	transform: translateY(-50%);
	font-size: 20px;
	}

.sr-button.button-tiny.button-icon-text { padding-left: 34px; } .sr-button.button-tiny.button-icon-text i { font-size: 14px; left: 14px; }
.sr-button.button-mini.button-icon-text { padding-left: 44px; } .sr-button.button-mini.button-icon-text i { font-size: 18px; left: 18px; }
.sr-button.button-small.button-icon-text { padding-left: 58px; } .sr-button.button-small.button-icon-text i { font-size: 22px; left: 26px; }
.sr-button.button-medium.button-icon-text { padding-left: 70px; } .sr-button.button-medium.button-icon-text i { font-size: 26px; left: 36px; }
.sr-button.button-big.button-icon-text { padding-left: 90px; } .sr-button.button-big.button-icon-text i { font-size: 34px; left: 44px; }


/* Icon Button */
.button-icon i {
	font-size: 20px;
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	}

.sr-button.button-tiny.button-icon i { font-size: 13px; width: 28px;	 height: 28px; line-height: 28px; left: 0.5px; }
.sr-button.button-mini.button-icon i { font-size: 17px; width: 38px;	 height: 38px; line-height: 38px; left: 0.5px; }
.sr-button.button-small.button-icon i { font-size: 21px; width: 50px; height: 50px; line-height: 50px; left: 1px; }
.sr-button.button-medium.button-icon i { font-size: 24px; width: 62px; height: 62px; line-height: 62px; left: 1px; }
.sr-button.button-big.button-icon i { font-size: 32px; width: 76px; height: 76px; line-height: 76px; left: 1px; }

.button-icon i.fa-play, .button-icon i.ion-play { left: 4% !important; }

.sr-button.button-icon { padding: 0; text-align: center; }


/* Separator (hr)*/
hr {
	border: none;
	background: #000000;
	height: 1px;
	width: 100%;
	margin: 0;
	margin-left: 0;
	}
	.text-light hr { background: #ffffff; opacity: 0.22; filter: alpha(opacity=22); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=22)"; }
	.align-center hr, hr.align-center  { margin-left: auto; margin-right: auto; }
	.align-right hr, hr.align-right {  margin-left: auto; margin-right: 0; }

	/* hr spacings (this might be optimized depending on your font and lineheight used) */
	hr + h1 { margin-top: 10px; } h1 + hr { margin-top: 11px; }
	hr + h2 { margin-top: 12px; } h2 + hr { margin-top: 13px; }
	hr + h3, h3 + hr { margin-top: 14px; }
	hr + h4, h4 + hr { margin-top: 18px; }
	hr + h5, h5 + hr { margin-top: 21px; }
	hr + h6, h6 + hr { margin-top: 22px; }
	hr + p, p + hr { margin-top: 20px; }

hr.mini { width: 36px; }
hr.small { width: 60px; }
hr.medium { width: 120px; }
hr.big { width: 280px; }

hr.has-animation:not(.colored) {
	width: 0px;
	-webkit-transform: translateY(0px) ;
  	-moz-transform: translateY(0px);
  	-ms-transform: translateY(0px);
  	-o-transform: translateY(0px);
  	transform: translateY(0px);
	opacity: 0.15 !important; filter: alpha(opacity=15) !important; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)" !important;
	}
	.text-light hr.has-animation:not(.colored) { opacity: 0.22; filter: alpha(opacity=22); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=22)"; }
hr.mini.has-animation.animated { width: 36px; transition: width 0.5s; }
hr.small.has-animation.animated { width: 60px; transition: width 0.6s; }
hr.medium.has-animation.animated { width: 120px; transition: width 0.7s; }
hr.big.has-animation.animated { width: 180px; transition: width 0.8s; }

hr.thin { height: 1px; }
hr.thick { height: 2px; }
hr.fat { height: 4px; }
hr.huge { height: 6px; }

hr.colored { opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; background: #225EF9; border-color: #225EF9; }

hr.dotted {
	background: none;
	height: 1px;
	border-top: 1px dotted #000000;
	}
	.text-light hr.dotted { border-color: #ffffff;  }

hr.zigzag {
  	background: repeat-x url('data:image/svg+xml;utf-8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="6px" viewBox="0 0 12 6" enable-background="new 0 0 12 6" xml:space="preserve"><polygon points="6,3.5 0,0 0,1.208 6,4.708 12,1.208 12,0" fill="%23000000"/></svg>');
  	height: 5px;
	}
	.text-light hr.zigzag {
  	background: repeat-x url('data:image/svg+xml;utf-8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="6px" viewBox="0 0 12 6" enable-background="new 0 0 12 6" xml:space="preserve"><polygon points="6,3.5 0,0 0,1.208 6,4.708 12,1.208 12,0" fill="%23ffffff"/></svg>');
	}
	hr.zigzag.colored {
  	background: repeat-x url('data:image/svg+xml;utf-8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="6px" viewBox="0 0 12 6" enable-background="new 0 0 12 6" xml:space="preserve"><polygon points="6,3.5 0,0 0,1.208 6,4.708 12,1.208 12,0" fill="%23225EF9"/></svg>');
	}


/*----------------------------------------------

11. WIDGETS

------------------------------------------------*/
.widget {
	margin-top: 60px;
	}
	footer .widget { margin-top: 40px; }
	footer .one-full .widget { margin-top: 30px; }
	div .widget:first-child { margin-top: 0px; }

.widget .widget-title {
	position: relative;
	padding-bottom: 20px;
	}

.widget .widget-title:after {
	content: "";
	width: 36px;
	height: 2px;
	background: #000000;
	position: absolute;
	bottom: 0px;
	left: 0px;
	opacity: 0.15; filter: alpha(opacity=15); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	}
	.text-light .widget .widget-title:after { background: #ffffff; opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";  }

.align-center .widget .widget-title:after, .widget.align-center .widget-title:after {  left: 50%; margin-left: -18px; }
.align-right .widget .widget-title:after, .widget.align-right .widget-title:after {  left: inherit; right: 0px; }


/*	Social Widget

------------------------------------------------*/
.socialmedia-widget {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	}
	.socialmedia-widget.align-center, .align-center .socialmedia-widget { text-align: center; }
	div .socialmedia-widget:first-child { margin: 0; }

.socialmedia-widget li {
	display: inline-block;
	*display: inline; *zoom: 1;
	margin: 0 14px 0 0;
	position: relative;
	}
	.socialmedia-widget li:last-child { margin-right: 0px; }
	.align-center .socialmedia-widget li { margin-right: -5px; padding: 0 10px ; }
	.align-center .socialmedia-widget[class*='style-'] li { margin-right: -5px; padding: 0 0px ; }
	.align-right .socialmedia-widget li, .right-float .socialmedia-widget li { margin-left: 14px; margin-right: 0px; }
	.align-right .socialmedia-widget li:first-child, .right-float .socialmedia-widget li:first-child { margin-left: 0px; }

.socialmedia-widget li a {
	font: normal normal normal 12px/1 FontAwesome;
  	font-size: 16px;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	line-height: 20px;
	color: #212121;
	/*transition: all 0.2s ease;*/
	display: block;
	text-align: center;
	}
	.text-light .socialmedia-widget li a { color: #ffffff; }

.socialmedia-widget li.facebook a:before, .socialmedia-widget li.facebook a:after { content:"\f09a"; }
.socialmedia-widget li.twitter a:before, .socialmedia-widget li.twitter a:after { content:"\f099" }
.socialmedia-widget li.linkedin a:before, .socialmedia-widget li.linkedin a:after { content: "\f0e1"; }
.socialmedia-widget li.mail a:before, .socialmedia-widget li.mail a:after { content: "\f0e0"; }
.socialmedia-widget li.instagram a:before, .socialmedia-widget li.instagram a:after { content: "\f16d"; }
.socialmedia-widget li.phone a:before, .socialmedia-widget li.phone a:after { content: "\f095"; }
.socialmedia-widget li.comment a:before, .socialmedia-widget li.comment a:after { content: "\f0e0"; }
.socialmedia-widget li a:after { visibility: hidden; opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }


/* sizes */
.socialmedia-widget.size-medium li a { font-size: 22px; line-height: 26px; }
.socialmedia-widget.size-big li a { font-size: 28px; line-height: 32px; }
.socialmedia-widget.size-huge li a { font-size: 38px; line-height: 44px; }
.socialmedia-widget.size-medium li { margin-right: 20px; }
.align-center .socialmedia-widget.size-medium li { margin-right: -5px; padding: 0 15px ; }
.align-right .socialmedia-widget.size-medium li { margin-left: 20px; margin-right: 0px; }
.socialmedia-widget.size-big li { margin-right: 25px; }
.align-center .socialmedia-widget.size-big li { margin-right: -5px; padding: 0 20px ; }
.align-right .socialmedia-widget.size-big li { margin-left: 25px; margin-right: 0px; }
.socialmedia-widget.size-huge li { margin-right: 30px; }
.align-center .socialmedia-widget.size-huge li { margin-right: -5px; padding: 0 25px ; }
.align-right .socialmedia-widget.size-huge li { margin-left: 30px; margin-right: 0px; }


/* styles */
.socialmedia-widget[class*='style-'] li a:before, .socialmedia-widget[class*='style-'] li a:after { width: 40px; line-height: 40px; }
.socialmedia-widget.size-medium[class*='style-'] li a:before, .socialmedia-widget.size-medium[class*='style-'] li a:after { width: 60px;line-height: 60px; }
.socialmedia-widget.size-big[class*='style-'] li a:before, .socialmedia-widget.size-big[class*='style-'] li a:after { width: 80px;line-height: 80px; }
.socialmedia-widget.size-huge[class*='style-'] li a:before, .socialmedia-widget.size-huge[class*='style-'] li a:after { width: 100px;line-height: 100px; }
.socialmedia-widget[class*='style-'] li { margin: 0 5px 0 0; }
.align-center .socialmedia-widget[class*='style-'] li { margin: 0 3px; }
.align-right .socialmedia-widget[class*='style-'] li { margin: 0 0 0 5px; }
.socialmedia-widget li a { position: relative; overflow: hidden; }
.socialmedia-widget[class*='style-'] li a:after, .socialmedia-widget[class*='style-'] li a:before { border: 1px solid rgba(0, 0, 0, .15); }
.text-light .socialmedia-widget[class*='style-'] li a:after, .text-light .socialmedia-widget[class*='style-'] li a:before { border: 1px solid rgba(255,255,255,.22); }
.socialmedia-widget li a:after { position: absolute; top: 0; left: 0; }
.socialmedia-widget li a:before, .socialmedia-widget li a:after { display: block; }
.socialmedia-widget[class*='style-rounded'] li a:after, .socialmedia-widget[class*='style-rounded'] li a:before { border-radius: 3px; }
.socialmedia-widget[class*='style-circled'] li a:after, .socialmedia-widget[class*='style-circled'] li a:before { border-radius: 100px; }
.socialmedia-widget.hover-slide-1[class*='style-rounded'] li a { border-radius: 3px; }
.socialmedia-widget.hover-slide-1[class*='style-circled'] li a { border-radius: 100px; }


/* hover general */
.socialmedia-widget li a, .socialmedia-widget li a:before, .socialmedia-widget li a:after {
	transition: all 0.25s ease;
	}
.socialmedia-widget[class*='hover-slide'] li a:hover:before {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
 	}
.socialmedia-widget[class*='hover-slide'] li a:after {
	visibility: visible;
	top: 100%;
	opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
.socialmedia-widget[class*='hover-slide'] li a:hover:after {
	top: 0px;
	}

/* hover 1 */
.socialmedia-widget.hover-slide-1[class*='style-'] li a { border: 1px solid rgba(0, 0, 0, .15); }
.text-light .socialmedia-widget.hover-slide-1[class*='style-'] li a { border: 1px solid rgba(255,255,255,.22); }
.socialmedia-widget.hover-slide-1[class*='style-'] li a:after, .socialmedia-widget.hover-slide-1[class*='style-'] li a:before { border: none; }
.socialmedia-widget.hover-fade-1 li.facebook a:hover, .socialmedia-widget.hover-slide-1 li.facebook a:after { color: #446ebf; }
.socialmedia-widget.hover-fade-1 li.twitter a:hover, .socialmedia-widget.hover-slide-1 li.twitter a:after { color: #39aadc; }
.socialmedia-widget.hover-fade-1 li.linkedin a:hover, .socialmedia-widget.hover-slide-1 li.linkedin a:after { color: #81d3fd; }
.socialmedia-widget.hover-fade-1 li.mail a:hover, .socialmedia-widget.hover-slide-1 li.mail a:after { color: #74624d; }
.socialmedia-widget.hover-fade-1 li.instagram a:hover, .socialmedia-widget.hover-slide-1 li.instagram a:after { color: #95604b; }
.socialmedia-widget.hover-fade-1 li.skype a:hover, .socialmedia-widget.hover-slide-1 li.skype a:after { color: #00aef3; }
.socialmedia-widget.hover-fade-1 li.phone a:hover, .socialmedia-widget.hover-slide-1 li.phone a:after { color: #80b900; }
.socialmedia-widget.hover-fade-1 li.comment a:hover, .socialmedia-widget.hover-slide-1 li.comment a:after { color: #1b59c3; }




/*----------------------------------------------

12. LOGO

/* 	!!!!!!!!!!!!!!!!!!
	Depending on your logo height you want to use, please adapt the values below
   	!!!!!!!!!!!!!!!!!! */

/* your logo height */
header #logo { height: 30px; }
nav#main-nav > ul > li > a { height: 45px; line-height: 45px; }
#header-search a#show-search, #header-cart a#show-cart, #header-language a#show-language, #header-social .socialmedia-widget li a { height: 45px; line-height: 45px; }

/* Height of the header on pageload - Logo height + padding of #logo a (30+2x30)*/
nav#main-nav .mega-menu-content:before { height: 90px; }
header:not(.header-transparent):not(.header-style-floating):not(.header-style-vertical) + #hero { margin-top: 90px; }
header:not(.header-transparent):not(.header-style-floating):not(.header-style-vertical) + #hero.hero-full { min-height: calc(100vh - 90px); }
header:not(.header-transparent):not(.header-style-floating):not(.header-style-vertical) + #page-body { margin-top: 90px; }
header.has-top-bar:not(.header-transparent):not(.header-style-floating):not(.header-style-vertical) + #hero { margin-top: calc(90px + 40px); }
header.has-top-bar:not(.header-transparent):not(.header-style-floating):not(.header-style-vertical) + #hero.hero-full { min-height: calc(100vh - 90px - 40px); }
header.has-top-bar:not(.header-transparent):not(.header-style-floating):not(.header-style-vertical) + #page-body { margin-top: calc(90px +40px); }
header.header-transparent.header-bordered + #hero #page-title, header.header-style-floating + #hero #page-title { margin-top: 90px; }
#hero #page-title.title-adapt:not(.title-top):not(.title-bottom) { top: 90px; }
header.header-transparent + #page-body .fullwidth-section:first-child::before { height: 90px; }
header:not(.header-transparent) + #page-body .fullwidth-section.fullheight:first-child { min-height: calc(100vh - 90px); }
